.upload-field
{
    width: 80%;
    min-width: 200px;
    margin: 10px 0px;
}

.form-field {
    width: 100%;
}
.upload-form button {
    margin-left: 15px;
    height: 40px;
}
.upload-form .mat-input-element:disabled {
    color: black;
}
