<h1 mat-dialog-title class="font-weight-bold">Upload a file</h1>
<div mat-dialog-content>
    <form [formGroup]="FileUploadForm" class="upload-form">
        <div>
            <mat-form-field appearance="outline" class="upload-field">
                <mat-label>Upload file...</mat-label>
                <input matInput [value]="getFileName()" (keypress)="$event.preventDefault()">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="selectFile()">Browse</button>
            <input #fileInput hidden type="file" (change)="fileChange($event.target.files)" >
        </div>
        <div>
            <mat-form-field class="form-field">
                <mat-label>Tile</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="form-field">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="form-field">
                <mat-label>Tags</mat-label>
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let tag of tags" [removable]="removableTag" (removed)="removeTag(tag)">
                    {{tag.name}}
                    <mat-icon matChipRemove *ngIf="removableTag">cancel</mat-icon>
                  </mat-chip>
                  <input [placeholder]="chipMessage"
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="addTag($event)"
                         [disabled]="hasReachedLimit">
                </mat-chip-list>
              </mat-form-field>
        </div>
    </form>
    
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="upload()" [disabled]="isProcessing || !hasSelectedFile">Upload</button>
    <button mat-raised-button (click)="cancel()" [disabled]="isProcessing">Cancel</button>
</div>