<h1 mat-dialog-title class="font-weight-bold">{{getFileName()}}</h1>
<div mat-dialog-content>
    <div *ngIf="isImage()">
        <img [src]="getFilePath()" alt="">
    </div>
    
    <div *ngIf="isVideo()">
        <video controls (click)="toggleVideo()" #videoPlayer height="400" [width]="videoplayerWidth">
            <source [src]="getFilePath()" type="video/mp4" />
            Browser not supported
        </video>
    </div>
</div>

<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="close()">Close</button>
</div>