<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>File Management</span>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="profile" [autofocus]="false">
            <mat-icon class="account-icon">account_circle</mat-icon>
            <span>User</span>
          </button>
        <mat-menu #profile="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
      </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>