.file-container {
    margin: 10px 0px;
}

.file-toolbar {
    margin-top: 15px;
}

.file-content {
    margin: 10px 0px;
    min-height: calc(100vh - 170px);
    overflow: auto;
}

.file-table {
    width: 100%;
}

.name-col {
    width: 25%;
}

.title-col {
    width: 15%;
}

.desc-col {
    width: 30%;
}

.tags-col {
    width: 15%;
}

.actions-col {
    width: 15%;
}