<div class="file-container">
    <mat-expansion-panel class="shwinco-form-toolbar-panel" [expanded]="true" hideToggle>
        <div class="file-toolbar">
            <button mat-raised-button color="primary" (click)="openUploadDialog()">
                <mat-icon>upload_file</mat-icon>
                Upload file
            </button>
        </div>
    </mat-expansion-panel>
    <mat-card class="file-content">
        <mat-card-content>
            <div class="container">
                <table aria-label="file-table" class="table file-table">
                    <thead>
                        <tr>
                            <th scope="col" class="name-col">Name</th>
                            <th scope="col" class="title-col">Title</th>
                            <th scope="col" class="desc-col">Description</th>
                            <th scope="col" class="tags-col">Tags</th>
                            <th scope="col" class="actions-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let file of files;">
                            <td>{{file.filename}}</td>
                            <td>{{file.title}}</td>
                            <td>{{file.description}}</td>
                            <td>{{showTags(file.tags)}}</td>
                            <td>
                                <button mat-icon-button color="primary" (click)="preview(file)">
                                    <mat-icon>open_in_browser</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="deleteFile(file)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>