<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="login-box">
        <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isProcessingLogin"></mat-progress-bar>
        <form [formGroup]="LoginForm" class="login-form">
            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <mat-label>Username</mat-label>
                <input matInput name="username" formControlName="Username">
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline" floatLabel="always">
                <mat-label>Password</mat-label>
                <input matInput name="password" [type]="maskPassword ? 'password' : 'text'" formControlName="Password">
                <mat-icon matSuffix class="eye-icon" (click)="maskPassword = !maskPassword">{{maskPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <button mat-raised-button class="full-width" color="primary" [disabled]="isProcessingLogin" (click)="login()">Login</button>
            <mat-error class="login-error" *ngIf="LoginForm.hasError('unauthorized')">Invalid username and/or password</mat-error>
        </form>
    </div>
</section>